.movieCardOverview {
  display: flex;
  gap: 20px;
}

.navLink {
  display: flex;
  gap: 10px;
}

.information {
  margin: unset;
  margin-top: 20px;
}

.goBackBtn {
  display: flex;
  gap: 5px;
  border: none
}
.goBackIcon {
  width: 10px;
  margin: auto;

}